<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jobber</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jobber.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">
                                Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Sign Up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted mt-3 bg-light">
        <div class="d-flex justify-content-evenly align-items-center mx-5">
            <div class="container mt-3">
                <h5>Jobber?</h5>
                <p class="text-wrap footer-about">
                    Jobber is a recruiting website with one specific goal in mind
                    to eliminate unemployment forever providing the youth with an 
                    interface that enables them to find their ideal job opportunity
                </p>
            </div>
            <div class="container mt-3 mx-4">
                <h5>Links</h5>
                <ul class="text-primary footer-list">
                    <li><a href="#">Public sector jobs</a></li>
                    <li><a href="#">Private sector jobs</a></li>
                    <li><a href="#">Jobs abroad</a></li>
                    <li><a href="#">Miscellaneous jobs</a></li>
                </ul>
            </div>
            <div class="container mt-3">
                <h5 class="text-center">Follow us</h5>
                <ul class="d-flex list-unstyled justify-content-between footer-list">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="text-center bg-black">
            &copy; 2022 - Jobber - <a asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/6a97ec8d8a.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>