html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer-list li{
    line-height:2.5rem;
}
.fa-brands {
    font-size:1.8rem;
}
.footer-about {
    line-height: 1.2rem;
}